html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #9698a6;
}

.container {
  margin: 0 auto;
}

@media (max-width: 480px) {
  .container {
    padding: 0 2.5rem;
  }
}

@media (max-width: 900px) and (min-width: 481px) {
  .container {
    padding: 0 4rem;
  }
}

@media (min-width: 901px) {
  .container {
    padding: 0 4rem;
    max-width: 115rem;
  }
}

.btn {
  width: 16.3rem;
  height: 4.4rem;
  border-radius: 5rem;
  color: #ffffff;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  background: #31d35c;
  background: -webkit-gradient(linear, left top, left bottom, from(#31d35c), to(#2bb7da));
  background: linear-gradient(180deg, #31d35c 0%, #2bb7da 100%);
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  opacity: 0.75;
}

a {
  text-decoration: none;
  color: #9698a6;
}

li {
  list-style: none;
}

.img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.overlay {
  width: 100%;
  height: 100vh;
  top: 6.4rem;
  background-color: aqua;
  position: absolute;
}

.nav {
  height: 6.4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: relative;
}

@media (min-width: 901px) {
  .nav {
    height: 8rem;
  }
}

.nav__hamburger-open, .nav__hamburger-close {
  cursor: pointer;
}

@media (min-width: 901px) {
  .nav__hamburger-open, .nav__hamburger-close {
    display: none;
  }
}

.nav__links {
  position: absolute;
  width: calc(100% - 5rem);
  top: 8.8rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 3.5rem 0;
}

@media (max-width: 900px) and (min-width: 481px) {
  .nav__links {
    width: calc(100% - 8rem);
  }
}

@media (min-width: 901px) {
  .nav__links {
    position: relative;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0rem;
    background: none;
    border-radius: 0;
    padding: 0;
    height: 100%;
  }
}

@media (min-width: 901px) {
  .nav__link {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.5rem rgba(49, 211, 92, 0) solid;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

@media (min-width: 901px) {
  .nav__link:hover {
    border-bottom: 0.5rem #31d35c solid;
  }
}

.nav__link a {
  color: #2d314d;
}

@media (min-width: 901px) {
  .nav__link a {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

@media (min-width: 901px) {
  .nav__link a:hover {
    color: #2d314d;
  }
}

.nav__link:not(:last-child) {
  margin-bottom: 2rem;
}

@media (min-width: 901px) {
  .nav__link:not(:last-child) {
    margin-right: 3rem;
  }
}

.nav__btn {
  display: none;
}

@media (min-width: 901px) {
  .nav__btn {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */