.overlay {
  width: 100%;
  height: 100vh;
  top: 6.4rem;
  background-color: aqua;
  position: absolute;
}

.nav {
  height: 6.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: relative;

  @include desktop {
    height: 8rem;
  }

  &__hamburger-open,
  &__hamburger-close {
    cursor: pointer;

    @include desktop {
      display: none;
    }
  }

  &__links {
    position: absolute;
    width: calc(100% - 5rem);
    top: 8.8rem;
    background-color: $White;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3.5rem 0;

    @include tablet {
      width: calc(100% - 8rem);
    }

    @include desktop {
      position: relative;
      width: auto;
      display: flex;
      top: 0rem;
      background: none;
      border-radius: 0;
      padding: 0;
      height: 100%;
    }
  }

  &__link {
    @include desktop {
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 0.5rem rgba(49, 211, 92, 0) solid;
      transition: $transition-speed;
    }
  }

  &__link:hover {
    @include desktop {
      border-bottom: 0.5rem rgba(49, 211, 92, 1) solid;
    }
  }

  &__link a {
    color: $Dark-Blue;
    @include desktop {
      transition: $transition-speed;
    }
  }

  &__link a:hover {
    @include desktop {
      color: $Dark-Blue;
    }
  }

  &__link:not(:last-child) {
    margin-bottom: 2rem;
    @include desktop {
      margin-right: 3rem;
    }
  }

  &__btn {
    display: none;

    @include desktop {
      display: block;
    }
  }
}
